<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>
<body>
    <h1>
        Experiencia laboral
    </h1>
    <div id=" enlaces"></div>
    <h6>
        <a href="tel:6123445613">Realizar una llamada</a>
        <a href="../index.html">Ir al home</a>
        <a href="#footer">Ir a footer</a>
        <a href="../about.html">Ir a Bio</a>
        <a href="../contact.html">Ir a Contacto</a>
        <a href="../views/work.html">Ir a cv</a>
    </h6>
    </div>
</body>
</html>